.logement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1240px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    @media screen and (max-width: 845px){
        margin: 0px 10px 0px 10px;
    }
}

.logement__contener{
    display: flex;
    @media screen and (max-width: 845px){
        flex-direction: column;
    }
}

.logement__infos{
    display: flex;
    flex-direction: column;
    width: 70%;
    @media screen and (max-width: 845px){
    width: 100%;
}

    .logement__titre{ 
        color: #FF6060;
        h2, p{
            font-size: 4vw;
            font-weight: normal;
            @media screen and (max-width: 845px){
                font-size: 24px;
            }
        }
        p{
            font-size: 18px;
        }
    }
    
    .logement__tag{
        display: inline-block;
        min-width: 115px;
        background: #FF6060;
        border-radius: 16px;
        font-size: 14px;
        text-align: center;
        color: white;
        padding: 10px;
        margin-right: 10px;
        margin-top: 10px;
        @media screen and (max-width: 845px){
            margin: 12px;
        }
    }
}

.logement__hotes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: flex-end;
    @media screen and (max-width: 845px){
        width: 95%;
        flex-direction: row-reverse;
        align-items: center;;
}

    .logement__profil{
        display: flex;
        .logement__nom{
            width: 100px;
            font-size: 18px;
            display: flex;
            align-items: center;
            text-align: end;
            padding: 10px;
            color: #FF6060;   
            word-spacing: 10px;              
        }

        .logement__photo img{
            height: 80px;
            border-radius: 100px;            
        }
    }
    
    .logement__stars{
        display: flex;
        justify-content: flex-end;
        padding-top: 20px;
        font-size: 24px;
        height: 24px;
        width: 50%;
        @media screen and (max-width: 845px){
            width: 100%;
            justify-content: flex-start;
        }

        .off{
            padding-left: 15px;
            width: 24px;
            height: 20px;
            color: gray;
            @media screen and (max-width: 845px){
                width: 24px;
            }
            }
            
        .on{
            padding-left: 15px;
            width: 24px;
            height: 24px;
            color: #FF6060;
            @media screen and (max-width: 845px){
                width: 20px;
            }
        }
    }
}

.logement__details{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    @media screen and (max-width: 845px){  
        flex-direction: column;
    }

    .collapse.false{
        flex-basis: 47%;
        padding-bottom: 50px;
        @media screen and (max-width: 845px){
            width: 100%;
        }
    }

    .collapse.active{
        flex-basis: 47%;
        @media screen and (max-width: 845px){
            width: 100%;
        }
    }
}



