@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.header_contener {
    display: flex;
    justify-content: center;
    margin: 50px 100px 50px 100px;
    align-items: center;
    @media screen and (max-width: 590px){
        margin: 20px 20px 20px 20px;
    }

    .logo_contener{
        width: 20%;
        .logo{
            width: 20vw;
            max-width: 200px;
            min-width: 120px;
           
        }
    }

    nav{
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }

    a {
        padding-left: 37px;
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.3em;
        text-align: right;
        color: #FF6060;
        @media screen and (max-width: 530px){
            padding-left: 27px;
            font-size: 1em;
        }
    }
}
