@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.header_contener {
    display: flex;
    justify-content: center;
    margin: 50px 100px 50px 100px;

    .logo_contener{
        width: 20%;
    }

    nav{
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }

    a {
        padding-left: 57px;
        text-decoration: none;
        width: 116px;
        height: 34px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 142.6%;
        text-align: right;
        color: #FF6060;
    }
}
