


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 100px 0px 100px;

    h2{
        position: absolute;
        color: #FFFFFF;
        z-index: 2;
        top: 206px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 142.6%;
        
    }

    
    
    .Home-Contener{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px;
        grid-auto-rows: minmax(100px, auto);
        background: #F7F7F7;
        border-radius: 25px;
        padding: 56px 50px 43px 50px;
        margin-top: 43px;
    }
}

.Home-banner{
    display: flex;
    height: 223px;
    border-radius: 25px;
    justify-content: center;
    background-color: #000000;

    .banner{
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
    opacity: 0.7;
    }
}